{% extends "base.html" %}
{% block search %}
  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
        method="get" action="">
    <div class="input-group">
      {% if task_to_search %}
        <input type="text" class="form-control bg-light border-0 small" value="{{ task_to_search }}"
             aria-label="Search" aria-describedby="basic-addon2" name="task">
        {% else %}
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for a task..."
             aria-label="Search" aria-describedby="basic-addon2" name="task">
      {% endif %}
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">
          <i class="fas fa-search fa-sm"></i>
        </button>
      </div>
    </div>
  </form>
{% endblock %}
{% block content %}
  <h1 class="h3 mb-4 text-gray-800 d-flex justify-content-center">Tasks
    <a href="{% url "tasks:task-create" %}" class="ml-2" title="Create task">
      <i class="fa fa-plus-circle"></i>
    </a>
  </h1>
  <div class="row justify-content-center">

    {% for task in task_list %}
      <div class="col-lg-5">

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ task.name }}
              <span class="badge badge-warning">{{ task.get_priority_display }}</span>
              {% if task.is_completed %}
                <span class="badge badge-success">Done</span>
              {% else %}
                <span class="badge badge-info">In progress</span>
              {% endif %}
              <span class="badge badge-dark">{{ task.task_type }}</span>
            </h6>
          </div>
          <div class="card-body">
            <span class="badge badge-success">Deadline: {{ task.deadline }}</span>
            <div class="d-inline float-right">
              <a href="{% url "tasks:task-detail" task.id %}" class="btn btn-info btn-circle btn-sm"
                 title="Task details">
                <i class="fas fa-info"></i>
              </a>
            </div>
            <hr>
            {{ task.description }}
          </div>
        </div>

      </div>
    {% endfor %}
  </div>
  <div class="d-flex justify-content-center">
    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a href="?page= {{ page_obj.previous_page_number }}" class="page-link">
              <i class="fa fa-angle-left"></i>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a href="#" class="page-link">
              <i class="fa fa-angle-left"></i>
            </a>
          </li>
        {% endif %}
        <li class="page-item active bg-gradient-primary">
          <span class="page-link">{{ page_obj.number }} of {{ paginator.num_pages }}</span>
        </li>
        {% if page_obj.has_next %}
          <li class="page-item">
            <a href="?page= {{ page_obj.next_page_number }}" class="page-link">
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a href="#" class="page-link">
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </div>


{% endblock %}
